:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --first-color: #1a6675;
  --second-color: #80e3f7;
  --second-color-active: #80e3f785;
  --third-color: #36d5f5;
  --fourth-color: #48727a;
  --fifth-color: #2ba9c2;
  --card-color: #f2fdff;
  --blue: #2ba9c2;
  --blue-dark: #1a6675;
  --blue-light: #80e3f7;
  --glass: rgba(255, 255, 255, 0.9);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #80e3f7;
  --grd-1: #80e3f7;
  --grd-2: #36d5f5;
  --grd-3: #48727a;
}

.App {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    106.37deg,
    var(--second-color) 29.63%,
    var(--third-color) 51.55%,
    var(--fourth-color) 90.85%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
  gap: 20px;
}

/* ********************************************************
RESPONSIVE DESIGN
******************************************************** */
@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
  .AppGlass::-webkit-scrollbar {
    display: none;
  }
}
